@font-face {
  font-family: "Arimo-Bold";
  src: url("../fonts/Arimo-Regular.woff") format("woff");
  src: url("../fonts/Arimo-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arimo-Bold";
  src: url("../fonts/Arimo-Bold.woff") format("woff");
  src: url("../fonts/Arimo-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff") format("woff"),
  url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
