//mobile
$mobile-width: 320px;
//tablet
$tablet-width: 768px;
//desktop
$desktop-width: 1440px;
$mobile-width-only: 299px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//font
$white: #ffffff;
$violet: #7878F6;
$body-color: #1A1A18;
$orange: #FEC022;
$red: #E31E25;
